node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.next
.next/cache
out
dist
build
coverage
tsconfig.tsbuildinfo

.git
.github
.env
.env.*
!.env.example
!.env.sample

.DS_Store
Thumbs.db
.idea
.vscode
*.swp
